<!doctype html>
html(ng-app="mogawayApp")
	head
		title Mogaway
		script(src="/js/lib/angular.min.js")
		script(src="/js/lib/angular-route.min.js")
		script(src="/js/index.js")
	body
		h2 Mogaway Express
		div(ng-view)
		
		