html
	head
		title Mogaway
		script(src="/js/angular.min.js")
		script(src="/js/angular-ui-router.min.js")
	body
		h2 Welcome to Mogaway Express
		ul
			each item in connectors
				li  
					a(href="#")!= item